:root {
    --size: 15px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

body,
p,
h1,
ul,
li {
    margin: 0;
    padding: 0;
}

header {
    background-color: aquamarine;
}

.container {
    padding: 0 15px;
    max-width: 1120px;
    margin: 0 auto;
    background-color: #d7d7d7;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.row>div {
    padding: 15px;
    background-color: antiquewhite;
    border: 2px solid grey;
    margin: 0 auto;
}

.col-12 {
    width: calc(100% - var(--size));
}

.col-11 {
    width: calc(91.66% - var(--size));
}

.col-10 {
    width: calc(83.33% - var(--size));
}

.col-9 {
    width: calc(75% - var(--size));
}

.col-8 {
    width: calc(66.66% - var(--size));
}

.col-7 {
    width: calc(58.33% - var(--size));
}

.col-6 {
    width: calc(50% - var(--size));
}

.col-5 {
    width: calc(41.66% - var(--size));
}

.col-4 {
    width: calc(33.33% - var(--size));
}

.col-3 {
    width: calc(25% - var(--size));
}

.col-2 {
    width: calc(16.66% - var(--size));
}

.col-1 {
    width: calc(8.33% - var(--size));
}

/* col-lg */

@media screen and (max-width: 992px) {
    .container {
        padding: 0;
    }

    .col-lg-12 {
        width: calc(100% - var(--size));
    }

    .col-lg-11 {
        width: calc(91.66% - var(--size));
    }

    .col-lg-10 {
        width: calc(83.33% - var(--size));
    }

    .col-lg-9 {
        width: calc(75% - var(--size));
    }

    .col-lg-8 {
        width: calc(66.66% - var(--size));
    }

    .col-lg-7 {
        width: calc(58.33% - var(--size));
    }

    .col-lg-6 {
        width: calc(50% - var(--size));
    }

    .col-lg-5 {
        width: calc(41.66% - var(--size));
    }

    .col-lg-4 {
        width: calc(33.33% - var(--size));
    }

    .col-lg-3 {
        width: calc(25% - var(--size));
    }

    .col-lg-2 {
        width: calc(16.66% - var(--size));
    }

    .col-lg-1 {
        width: calc(8.33% - var(--size));
    }
}

/* col-md */

@media screen and (max-width: 768px) {

    .col-md-12 {
        width: calc(100% - var(--size));
    }

    .col-md-11 {
        width: calc(91.66% - var(--size));
    }

    .col-md-10 {
        width: calc(83.33% - var(--size));
    }

    .col-md-9 {
        width: calc(75% - var(--size));
    }

    .col-md-8 {
        width: calc(66.66% - var(--size));
    }

    .col-md-7 {
        width: calc(58.33% - var(--size));
    }

    .col-md-6 {
        width: calc(50% - var(--size));
    }

    .col-md-5 {
        width: calc(41.66% - var(--size));
    }

    .col-md-4 {
        width: calc(33.33% - var(--size));
    }

    .col-md-3 {
        width: calc(25% - var(--size));
    }

    .col-md-2 {
        width: calc(16.66% - var(--size));
    }

    .col-md-1 {
        width: calc(8.33% - var(--size));
    }
}

/* col-sm */

@media screen and (max-width: 576px) {
    .col-sm-12 {
        width: calc(100% - var(--size));
    }
}